{% extends "reviewer/base.html" %}
{% load staticfiles %}

{% block heading %}<h1 class="movie-title text-center">Latest Reviews</h1>{% endblock %}

{% block content %}

    <div class="table-responsive">
        <table class="table grid-movie-list site-text-header">
            <thead>
                <tr><th>Movie Name</th><th>Director</th><th>Release Date</th><th>Rating</th></tr>
            </thead>
            <tbody>


    {% for movie in hot_or_not %}

            <tr>
            <a href="/reviewer/movie/{{ movie.id }}/">
                <td>{{ movie.movie_title }}</td>
            </a>
                <td>{{ movie.director_last_name }}, {{ movie.director_first_name }}</td>
                <td>{{ movie.release_date }}</td>
                <td>{{ movie.avg_score }}</td>
            </tr>

    {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}