{% extends "reviewer/base.html" %}
{% load staticfiles %}

{% block heading %}<h1 class="movie-title text-center">Latest Reviews</h1>{% endblock %}

{% block content %}

    <div class="table-responsive">
        <table class="table grid-movie-list site-text-header">
            <thead>
                <tr><th>Movie Name</th><th>Reviewer</th><th>Review Date</th><th>Rating</th><th>Comments</th></tr>
            </thead>
            <tbody>


    {% for review in hot_or_not %}

            <tr>
            <a href="/reviewer/movie/{{ movie.id }}/">
                <td>{{ review.movie.movie_title }}</td>
            </a>
                <td>{{ review.reviewer.user_name }}</td>
                <td>{{ review.review_post_date }}</td>
                <td>{{ review.movie_rating }}</td>
                <td>{{ review.movie_comments }}</td>
            </tr>

    {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}