{% extends "reviewer/base.html" %}
{% load staticfiles %}


{% block heading %}<h1 class="movie-title text-center">{{ movie.movie_title }}</h1>{% endblock %}
{% block content %}<div class="col-md-6"><img src="../../images/Frozen-Chris-Buck.jpg" class="img-responsive" title="All images are used under fair use for review purposes"></div>
<div class="table-responsive col-md-6 col-xs-4">
<table class="table grid-movie-list site-text-header text-center col-xs-4 col-sm-4">
    <tbody>
    <tr><td>Title</td><td>{{ movie.movie_title }}</td></tr>
    <tr><td>Release Date</td><td>{{ movie.release_date }}</td></tr>
    <tr><td>Director</td><td>{{ movie.director_first_name }} {{ movie.director_last_name }}</td></tr>
    <tr><td>Lead Actor/Actrss</td><td>{{ movie.lead_actor }}</td></tr>
    <tr><td>Genre</td><td>{{ movie.genre }}</td></tr>
    <tr><td>Runtime</td><td>{{ movie.runtime }} minutes</td></tr>
    <tr><td>Average Rating</td><td>{{ avg_rating }}</td></tr>
    <tr><td>Synopsis</td><td>{{ movie.synopsis }}</td></tr>
    </tbody>
</table>
</div>


    <div class="table-responsive col-md-6 col-xs-4"><h3 class="movie-title text-center">Reviews</h3>
        <table class="table grid-movie-list site-text-header">
            <thead>
                <tr><th>Reviewer</th><th>Review Score</th><th>Review Date</th><th>Comments</th></tr>
            </thead>
            <tbody>


    {% for review in reviews %}

            <tr>
                <td>{{ review.reviewer.user_name }}</td>
                <td>{{ review.movie_rating }}</td>
                <td>{{ review.review_post_date }}</td>
                <td>{{ review.movie_comments }}</td>
            </tr>

    {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}



